/*  Auto Play Video  */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 20px;
    text-align : center;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0px;
    color: #f1f1f1;
    width: 110%;
    padding: 170px;
  }
  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* First letter Big */
.text-article:first-letter {
  font-weight: bold;
  color: #000;  
  font-size: 60px;
  font-size: 6rem;
  line-height: 10px;
  line-height: 1rem;
  text-transform: uppercase;
}

/* ------------------------------------- */

body {
    background-color: #f5f5f5;
    font-family: arial;
}
header {
    background: #60207f;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 15px #777;
}
.wrapper {
    max-width: 1200px;
    padding: 0px 80px;
    margin: auto;
}
.logo {
    float: left;
    margin: 25px -50px;
    max-width: 50px;
}
.logo img{
    width: 150%;
}

/*-- Navbar CSS --*/
.nav-menus {
    float: right;
    min-height: 100px;
    display: flex;
    align-items: center;
}
.nav-menus li {
    list-style: none;
    position: relative;
    padding: 30px 0px;
}
.nav-menus a {
    color: #fff;
    position: relative;
    font-size: 19px;
    text-decoration: none;
    padding: 15px 12px;
    z-index: 1;
}
.nav-menus li:hover {
    color: #fff;
}
.nav-menus a:after {
    content: "";
    width: 100%;
    height: 0px;
    background-color: #ff0095;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    transition: 0.5s;
    z-index: -1;
}
.nav-menus li:hover > a:after{
    height: 100%;
}
.nav-menus i{
    margin-right: 8px;
    font-size: 10px;
}
.toggle-btn{
    float: right;
    height: 90px;
    line-height: 150px;
    color: #fff;
    font-size: 26px;
    display: none;
    cursor: pointer;
}
.nav-menus.active{
    display: block;
}

/*-- Sub Menus CSS--*/
.sub-menus ul {
    position: absolute;
    top: 80px;
    background-color: #fff;
    padding: 10px 0px;
    min-width: 150px;
    box-shadow: 0px 0px 8px #636363;
    border-radius: 4px;
    display: none;
}
.sub-menus:hover ul {
    display: block;
}
.sub-menus ul li {
    padding: 5px 0px;
}
.sub-menus ul li a {
    padding: 8px 10px;
    display: block;
    color: #5a30a5;
}
.sub-menus ul li:hover a {
    color: #fff;
}
.sub-menus ul::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -9px;
}

/*-- Responsive Menus Bar CSS--*/
@media (max-width:767px) {
.toggle-btn{
    display: block;
}
.nav-menus {
    position: absolute;
    width: 100%;
    background: #4e2890;
    top: 100px;
    right: 0;
    display: none;
    padding: 0px 15px;
    box-sizing: border-box;
}
.nav-menus::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4e2890;
    position: absolute;
    top: -10px;
    right: 10px;
}
.sub-menus ul {
    position: static;
}
.sub-menus ul::before {
    display: none;
}
.nav-menus li {
    padding: 0px;
}
.nav-menus li a {
    display: block;
    margin: 15px 0px;
}
}


/* END OF NAVBAR */

/* Read more button */
.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgb(111, 61, 173) 0%, rgb(155, 41, 110) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #ff0095,
     -4px -4px 5px 0px #ff0095,
     7px 7px 20px 0px #ff0095,
     4px 4px 5px 0px #ff0095;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
  /* Courses */
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  .snip1566 {
    position: relative;
    display: inline-block;
    margin: 20px;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .snip1566 *,
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
  }
  
  .snip1566 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
  }
  
  .snip1566 figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
  
  .snip1566 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
  }
  
  .snip1566 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1566:hover figcaption,
  .snip1566.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before,
  .snip1566:hover:after,
  .snip1566.hover:after {
    border-width: 10px;
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .snip1566:hover:after,
  .snip1566.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  
  /* footer */

a {
    text-decoration: unset;
}
a:hover {
    text-decoration: underline;
}
ul > li > a {
    color:#fff;
}
ul > li {
    line-height: 1.5em;
}
.footer {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 150px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    background: #1f1132;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-start {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    background: #60207f;
    border-radius: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}
.start-learning {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
}
.footer .inner {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
}
.main-logo {
    position: relative;
    display: flex;
    align-items: center;
}
.main-logo .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.main-logo .logo > img {
    display: block;
    width: 100%;
    min-width: 50px;
}
.logo-info {
    text-align: left;
    line-height: 30px;
}
.text {
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    letter-spacing: .18em;
    font-weight: 600;
}
.copyright {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}
.is-logo > a {
    text-decoration: unset;
}


.footer .column {
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.footer .column .column-title {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 16px;
}
.footer .column .column-title:not(:first-child) {
    margin-top: 1.5em;
}

.illustration {
    position: absolute;
    top: -28px;
    left: 8%;
}
a.button {
    display: inline-flex;
    position: relative;
    height: 60px;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    color: #ff0095;
    border-radius: 36px;
    box-shadow: 0px 24px 74px rgb(60 0 189 / 20%);
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-decoration: unset;
}
.section-title {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}
h3.section-sub-title {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
.section-sub-title span{
    opacity: 0.6;
}
h3.section-sub-title strong {
    font-weight: 600;
}


@media only screen and (max-width: 990px) and (min-width: 200px) {
    
    .footer .inner {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }
    .start-learning {
        position: unset;
    }
    .footer-start {
        width: 100%;
        display: block;
        padding: 30px 20px;
        margin: 30px auto;
    }
    .section-title {
        font-size: 30px;
    }
    h3.section-sub-title {
        font-size: 18px;
    }
    .footer {
        padding-top:0;
    }
    a.button {
        height: 50px;
        margin-top: 10px;
    }
    .column.is-logo {
        order: 4;
    }
} 

/* End of Footer */