<!--Code by CodingTuting.Com-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic:700|Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <!-- STYLESHEET LINK -->
    <link rel="stylesheet" type="text/css" href="common.css">

    <title>About US</title>
</head>
<body>    

    <!-- NavBar Start -->

    <div class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>				
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                            <a class="nav-link toggle active" href="#" >Home </a>
                            
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tests
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">IELTS</a>
                                <a class="dropdown-item" href="#">GRE</a>
                                <a class="dropdown-item" href="#">TOEFL</a>
                                <a class="dropdown-item" href="#">GMAT</a>
                                <a class="dropdown-item" href="#">DUOLINGO</a>
                                <a class="dropdown-item" href="#">SAT</a>
                                <a class="dropdown-item" href="#">PTE</a>
                                <a class="dropdown-item" href="#">OET</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Destinations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="INDIA.html">Study in INDIA</a>
                                <a class="dropdown-item" target="_blank" href="USA.html">Study in USA</a>
                                <a class="dropdown-item" target="_blank" href="UK.html">Study in UK</a>
                                <a class="dropdown-item" target="_blank" href="CANADA.html">Study in Canada</a>
                                <a class="dropdown-item" target="_blank" href="AUSTRALIA.html">Study in Australia</a>
                                <a class="dropdown-item" target="_blank" href="GERMANY.html">Study in Germany</a>
                                <a class="dropdown-item" target="_blank" href="FRANCE.html">Study in France</a>
                                <a class="dropdown-item" target="_blank" href="UAE.html">Study in UAE</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact%20us.htmlml" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- End of Navbar -->

<div class="bg-image">
    <div class="Canada-image">
  <div class="USA">
    <img src="../static/Images/About%20us.jpg" alt="Australia.jpg" style="width: 1070px; height:350px;">
  </div>
    </div>
</div>

<!-- Scroll to top-->
<button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>

<!-- End of Scroll to top-->

<div data-elementor-type="wp-page" data-elementor-id="1661" class="elementor elementor-1661">
  <section class="elementor-section elementor-top-section elementor-element elementor-element-2be0edd8 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle animated fadeIn" data-id="2be0edd8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
  <div class="elementor-container elementor-column-gap-no">
  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bfe0433" data-id="bfe0433" data-element_type="column">
  <div class="elementor-widget-wrap elementor-element-populated">
  <div class="elementor-element elementor-element-6cad4107 elementor-widget elementor-widget-heading" data-id="6cad4107" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  
<br/>
<div>
  <div>
    <p><h2>About US</h2></p>
    <p>Welcome to puspha consultancy, where expertise meets innovation to drive your success. With a passion for problem-solving and a commitment to excellence, we are your trusted partner in navigating the complexities of today's business landscape.</p>
  </div>
<div>  
  <p><h2>Our Mission</h2></p>
</div>
<div>
  <p>At puspha Consultency, our mission is simple: to empower businesses with strategic insights and actionable solutions that propel growth, foster innovation, and create lasting value.</p>
  <p>We believe that every challenge presents an opportunity for transformation, and we are dedicated to helping our clients seize those opportunities with confidence.  </p>
</div>
<div>
  <p><h2>Our Approach</h2></p>
  <p>We combine industry-leading expertise with a deep understanding of your unique challenges and opportunities to develop tailored strategies that deliver results. From market analysis and business planning to implementation and optimization, we are with you every step of the way, ensuring a seamless journey towards success.</p>
</div>

<div>
  <p><h2>Our Team</h2></p>
  <p>Behind puspha consultency is a team of seasoned professionals with diverse backgrounds and expertise across industries. Our consultants are not just advisors; they are partners invested in your success. With a relentless commitment to excellence and a passion for innovation, our team works tirelessly to exceed your expectations and drive tangible results.</p>
</div>
<div>
  <p><h2>Our Values</h2></p>
  <p>Integrity, excellence, collaboration, and innovation are at the heart of everything we do. We believe in building trusted relationships with our clients based on transparency, honesty, and mutual respect. By upholding the highest ethical standards and embracing continuous learning and innovation, we strive to be a catalyst for positive change in the businesses we serve. </p>
</div>
<div>
    <p><h2>Why Choose Us</h2></p>
    <ul>
        <li>Proven track record of success</li>
        <li>Customized solutions tailored to your needs</li>
        <li>Dedicated team committed to your success</li>
        <li>Unparalleled industry expertise and insights</li>
        <li>Innovative approaches that drive real results</li>
    </ul>
</div>
 <div>
    <p><h2>Let's Collaborate</h2></p> 
    <p>Whether you're a startup looking to disrupt the market or an established enterprise seeking to stay ahead of the competition, Puspha Consultency is here to help you achieve your goals. Let's collaborate and unlock the full potential of your business. Contact us today to schedule a consultation.

    </p>
</div>


  </div>

  <div>
    <p>For more info &nbsp;
      <a href="contact%20us.htmlml" target="_blank" type="button" class="btn btn-success">Contact us</a>
    </p>
  </div>

</div>


</div>
  </div>
  </div>
  </div>
  </section>
  </div>
  



<!-- Footer-->
<footer>
  <div>
   <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
</div>

  <div class="row">
       <div class="col-3">                
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat">Solution</span>
           </div>
           <ul class="footer-cat-links">
               <li><p>We are dedicated to providing<br/>unparalleled consultancy<br/> services to empower businesses and individuals alike.</p></li>
           </ul>
       </div>
       <div class="col-3">
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat">Quick Links</span>
               </div>
               <ul class="footer-cat-links">
                   <li><a href=""><span>Home</span></a></li>
                   <li><a href=""><span>About</span></a></li>
                   <li><a href=""><span>Contact Us</span></a></li>
                   <li><a href=""><span>Terms & Condition</span></a></li>
               </ul>
       </div>
       <div class="col-3">
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat">Country’s</span>
           </div>
           <ul class="footer-cat-links">
               <li><a href=""><span>U.S.A</span></a></li>
               <li><a href=""><span>United Kingdom</span></a></li>
               <li><a href=""><span>Canada</span></a></li>
               <li><a href=""><span>Australia</span></a></li>
               <li><a href=""><span>Germany</span></a></li>
               <li><a href=""><span>France</span></a></li>
               <li><a href=""><span>UAE</span></a></li>
           </ul>
       </div>
       <div class="col-3" id="newsletter">
           <span>Stay Connected</span>
           <form id="subscribe">
               <input type="email" id="subscriber-email" placeholder="Enter Email Address"/>
               <input type="submit" value="Subscribe" id="btn-scribe"/>
           </form>
           
           <div class="social-links social-2">
               <a href=""><i class="fab fa-facebook-f"></i></a>
               <a href=""><i class="fab fa-twitter"></i></a>
               <a href=""><i class="fab fa-linkedin-in"></i></a>
               <a href=""><i class="fab fa-instagram"></i></a>
               <a href=""><i class="fab fa-youtube"></i></a>
           </div>

           <div id="address">
               <span>Office Location</span>
                      <i class="fas fa-gopuram"> &nbsp;Hyderabad</i> <br/>
                      <i class="fas fa-gopuram"> &nbsp;Delhi</i> <br/><br/><br/><br/><br/><br/>                     
           </div>
           
       </div>
       <div class="social-links social-1 col-6">
           <a href=""><i class="fab fa-facebook-f"></i></a>
           <a href=""><i class="fab fa-twitter"></i></a>
           <a href=""><i class="fab fa-linkedin-in"></i></a>
           <a href=""><i class="fab fa-instagram"></i></a>
           <a href=""><i class="fab fa-tumblr"></i></a>
           <a href=""><i class="fab fa-reddit-alien"></i></a>
       </div>
  </div>
  <div id="copyright">
      &copy; All Rights Reserved 2023-2024
  </div>
  
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/JS/JS.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>