<!--Code by CodingTuting.Com-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic:700|Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <!-- STYLESHEET LINK -->
    <link rel="stylesheet" type="text/css" href="common.css">

    <title>Study in Australia</title>
</head>
<body>    

    <!-- NavBar Start -->

    <div class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>				
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                            <a class="nav-link toggle active" href="#" >
                                Home
                            </a>
                            
                        <li class="nav-item">
                            <a class="nav-link" href="About%20US.htmlml">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tests
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">IELTS</a>
                                <a class="dropdown-item" href="#">GRE</a>
                                <a class="dropdown-item" href="#">TOEFL</a>
                                <a class="dropdown-item" href="#">GMAT</a>
                                <a class="dropdown-item" href="#">DUOLINGO</a>
                                <a class="dropdown-item" href="#">SAT</a>
                                <a class="dropdown-item" href="#">PTE</a>
                                <a class="dropdown-item" href="#">OET</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Destinations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="INDIA.html">Study in INDIA</a>
                                <a class="dropdown-item" target="_blank" href="USA.html">Study in USA</a>
                                <a class="dropdown-item" target="_blank" href="UK.html">Study in UK</a>
                                <a class="dropdown-item" target="_blank" href="CANADA.html">Study in Canada</a>
                                <a class="dropdown-item" target="_blank" href="AUSTRALIA.html">Study in Australia</a>
                                <a class="dropdown-item" target="_blank" href="GERMANY.html">Study in Germany</a>
                                <a class="dropdown-item" target="_blank" href="FRANCE.html">Study in France</a>
                                <a class="dropdown-item" target="_blank" href="UAE.html">Study in UAE</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact%20us.htmlml" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- End of Navbar -->

<div class="bg-image">
    <div class="Canada-image">
  <div class="USA">
    <img src="../static/Images/Australia.jpg" alt="Australia.jpg" style="width: 1090px; height:350px;">
  </div>
    </div>
</div>

<!-- Scroll to top-->
<button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>

<!-- End of Scroll to top-->

<div data-elementor-type="wp-page" data-elementor-id="1661" class="elementor elementor-1661">
  <section class="elementor-section elementor-top-section elementor-element elementor-element-2be0edd8 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle animated fadeIn" data-id="2be0edd8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
  <div class="elementor-container elementor-column-gap-no">
  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bfe0433" data-id="bfe0433" data-element_type="column">
  <div class="elementor-widget-wrap elementor-element-populated">
  <div class="elementor-element elementor-element-6cad4107 elementor-widget elementor-widget-heading" data-id="6cad4107" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  
<br/>
<div>
  <div>
    <p><b>A</b>ustralia is the largest country by area in Oceania and the world’s sixth-largest country. Australia is an island nation that is located in the southern part of the Pacific Ocean. Australia is located to the southeast of the mainland Asian continent and to the southwest of North America.</p>
  </div>
<div>  
  <p><b>Capital:</b> Canberra</p>
</div>
<div>
  <p><b>Major Cities/ Counties:</b> Sydney, Brisbane, Melbourne, Perth, Adelaide</p>
</div>
<div>
  <p><b>Main Language:</b>English</p>
</div>

<div>
  <p><b>Living in Australia:</b> Offer practical advice on adjusting to life in Australia, including accommodation options, healthcare services, transportation, and cultural norms. Provide insights into popular student cities and recommendations for recreational activities.

  <p><b>Accommodation Options -</b> Students in Australia can choose from a range of accommodation types, including on-campus residences, shared apartments, and homestays. Consider factors like location, budget, and amenities when selecting accommodation.</p>
</div>
<div>
  <p><b>Job and Career Resources:</b> Share resources for finding part-time jobs, internships, and post-graduation employment opportunities in Australia. Provide tips for writing resumes, preparing for interviews, and networking effectively.</p>
</div>
<div>
  <p><b>Student Support Services:</b> Highlight support services available to students, such as academic advising, counseling, and health and wellness programs. Provide contact information for student support offices and encourage students to seek assistance when needed.</p>
</div>
 <div>
  <p><b>Visa and Immigration Guidance:</b> Provide guidance on the visa application process, including visa types, eligibility requirements, and application procedures. Offer tips for navigating immigration regulations and maintaining compliance.</p>
 </div>


  </div>

  <div>
    <p>For more info &nbsp;
      <a href="contact%20us.htmlml" target="_blank" type="button" class="btn btn-success">Contact us</a>
    </p>
  </div>

</div>


</div>
  </div>
  </div>
  </div>
  </section>
  </div>
  



<!-- Footer-->
<footer>
  <div>
   <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
</div>

  <div class="row">
       <div class="col-3">                
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat">Solution</span>
           </div>
           <ul class="footer-cat-links">
               <li><p>We are dedicated to providing<br/>unparalleled consultancy<br/> services to empower businesses and individuals alike.</p></li>
           </ul>
       </div>
       <div class="col-3">
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat"><t>Quick Links</t></span>
               </div>
               <ul class="footer-cat-links">
                   <li><a href=""><span>Home</span></a></li>
                   <li><a href="About%20US.htmlml"><span>About</span></a></li>
                   <li><a href=""><span>Contact Us</span></a></li>
                   <li><a href=""><span>Terms & Condition</span></a></li>
               </ul>
       </div>
       <div class="col-3">
           <div class="link-cat" onclick="footerToggle(this)">
               <span class="footer-toggle"></span>
               <span class="footer-cat">Country’s</span>
           </div>
           <ul class="footer-cat-links">
               <li><a href=""><span>U.S.A</span></a></li>
               <li><a href=""><span>United Kingdom</span></a></li>
               <li><a href=""><span>Canada</span></a></li>
               <li><a href=""><span>Australia</span></a></li>
               <li><a href=""><span>Germany</span></a></li>
               <li><a href=""><span>France</span></a></li>
               <li><a href=""><span>UAE</span></a></li>
           </ul>
       </div>
       <div class="col-3" id="newsletter">
           <span>Stay Connected</span>
           <form id="subscribe">
               <input type="email" id="subscriber-email" placeholder="Enter Email Address"/>
               <input type="submit" value="Subscribe" id="btn-scribe"/>
           </form>
           
           <div class="social-links social-2">
               <a href=""><i class="fab fa-facebook-f"></i></a>
               <a href=""><i class="fab fa-twitter"></i></a>
               <a href=""><i class="fab fa-linkedin-in"></i></a>
               <a href=""><i class="fab fa-instagram"></i></a>
               <a href=""><i class="fab fa-youtube"></i></a>
           </div>

           <div id="address">
               <span>Office Location</span>
                      <i class="fas fa-gopuram"> &nbsp;Hyderabad</i> <br/>
                      <i class="fas fa-gopuram"> &nbsp;Delhi</i> <br/><br/><br/><br/><br/><br/>                     
           </div>
           
       </div>
       <div class="social-links social-1 col-6">
           <a href=""><i class="fab fa-facebook-f"></i></a>
           <a href=""><i class="fab fa-twitter"></i></a>
           <a href=""><i class="fab fa-linkedin-in"></i></a>
           <a href=""><i class="fab fa-instagram"></i></a>
           <a href=""><i class="fab fa-tumblr"></i></a>
           <a href=""><i class="fab fa-reddit-alien"></i></a>
       </div>
  </div>
  <div id="copyright">
      &copy; All Rights Reserved 2023-2024
  </div>
  
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/JS/JS.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>