<!--Code by CodingTuting.Com-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic:700|Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <!-- STYLESHEET LINK -->
    <link rel="stylesheet" type="text/css" href="common.css">

    <title>Study in France</title>
</head>
<body>    

    <!-- NavBar Start -->

    <div class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>				
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                            <a class="nav-link toggle active" href="#" >
                                Home
                            </a>

                        <li class="nav-item">
                            <a class="nav-link" href="About%20US.htmlml">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tests
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">IELTS</a>
                                <a class="dropdown-item" href="#">GRE</a>
                                <a class="dropdown-item" href="#">TOEFL</a>
                                <a class="dropdown-item" href="#">GMAT</a>
                                <a class="dropdown-item" href="#">DUOLINGO</a>
                                <a class="dropdown-item" href="#">SAT</a>
                                <a class="dropdown-item" href="#">PTE</a>
                                <a class="dropdown-item" href="#">OET</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Destinations
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="INDIA.html">Study in INDIA</a>
                                <a class="dropdown-item" target="_blank" href="USA.html">Study in USA</a>
                                <a class="dropdown-item" target="_blank" href="UK.html">Study in UK</a>
                                <a class="dropdown-item" target="_blank" href="CANADA.html">Study in Canada</a>
                                <a class="dropdown-item" target="_blank" href="AUSTRALIA.html">Study in Australia</a>
                                <a class="dropdown-item" target="_blank" href="GERMANY.html">Study in Germany</a>
                                <a class="dropdown-item" target="_blank" href="FRANCE.html">Study in France</a>
                                <a class="dropdown-item" target="_blank" href="UAE.html">Study in UAE</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact%20us.htmlml" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- End of Navbar -->

<div class="bg-image">
    <div class="Canada-image">
  <div class="USA">
    <img src="../static/Images/France.JPG" alt="France.JPG" style="width: 1090px; height:350px;">
  </div>
    </div>
</div>

 <!-- Scroll to top-->
<button
type="button"
class="btn btn-danger btn-floating btn-lg"
id="btn-back-to-top"
>
<i class="fas fa-arrow-up"></i>
</button>

<!-- End of Scroll to top-->

<br/>
<div>
    <h2>Why France is so popular with Indian students?</h2>
    <p>France is a country located in Western Europe. It is known for its rich history, culture, and contributions to art, philosophy, and science. </p>
</div>

<div>
    <h2>Capital and Major Cities:</h2>
    <p>
        <b>Capital:</b> Paris</p>
    <p> <b>Other major cities:</b> Marseille, Lyon, Toulouse, Nice, and Bordeaux.</p>
</div>

<div>
    <h2>Student visa requirements for France</h2>
    <p>There are currently more than 220,000 international students in France currently enrolled from 130+ countries.</p>
    <p>About 30% of enrollments at French institutions are international students, and many students study at the postgraduate level (master’s and doctorate).</p>
    <p>It has top-ranked teaching quality, lectures, and internship opportunities.</p>
    <p>France has become a preferred destination amongst international students globally, </p>
    <p><b>Pushpa consultancy</b> India is one of the best consultancies to study in France and get admission into Public Universities and Private Institutions.</p>
</div>

    <ol>
        <li>Affordable education</li><br/>
        <li>Internationally recognized courses and qualifications</li><br/>
        <li>Innovative and abundant research opportunities</li><br/>
        <li>Healthy and safe communities</li><br/>
        <li>Scholarships and financial support</li><br/>
        <li>Multicultural Nation</li><br/>
        <li>The best possible place to study and learn English</li><br/>
        <li>Choose from over 50,000 courses in more than 25 subject areas</li><br/>
        <li>Shorter courses which indicate a reduction in tuition fees and accommodation costs</li><br/>
        <li>Possible to work while you study</li><br/>
    </ol>


    <div>
        <h2 style="text-align: left;">Cost Of Studying In The France:</h2>
        <p><b>Accommodation:</b> The cost of accommodation depends on whether you live in university housing, private rented accommodation, or with a host family. On average, you might spend anywhere from 300 to 800 euros per month.</p>
        <p><b>Food:</b> Monthly grocery expenses could range from 150 to 250 euros, while eating out at restaurants may cost around 10 to 20 euros per meal.</p>
        <p><b>Transportation:</b> Public transportation costs vary by city but can range from 30 to 70 euros per month.</p>
        <p><b>Health Insurance:</b> Health insurance costs are mandatory and may range from 200 to 600 euros per year.</p>
        <p><b>Miscellaneous:</b> Additional expenses for books, supplies, and personal items may be around 50 to 100 euros per month.</p>
        <p><b>Visa Fees:</b> Non-EU/EEA students may need to pay visa fees, typically around 99 euros. </p>
    </div>

    ----------------------



    ----------------------
<div class="table-responsive" style="margin-top:2px;">
<table class="table table-bordered">
    <tr>
        <th>STUDY PROGRAM</th>
        <th>AVERAGE TUITION FEE IN GBP (£)</th>
    </tr>
    <tbody>
        <tr>
            <td>Undergraduate Bachelor Degree</td>
            <td>£6,000 to £16,000 yearly</td>
        </tr>

        <tr>
            <td>Postgraduate master’s degree</td>
            <td>£10,000 to £20,000 yearly</td>
        </tr>

        <tr>
            <td>Doctoral Degree</td>
            <td>£13,000 to £29,000 yearly</td>
        </tr>

    </tbody>

</table>
</div>
<br/>
    <section id="admissions">
        <h2>UPCOMING INTAKES IN THE UK</h2>
        <p>The admissions process for international students may vary by university and program. Generally, it involves submitting an application, providing academic transcripts, language proficiency test scores, and possibly attending an interview. Be sure to check the specific requirements of the university you are interested in.</p>
    </section><br/>

    <section id="life">
        <h2>Student Life in the UK</h2>
        <p>Experience the vibrant student life in the UK. Engage in extracurricular activities, join clubs and societies, and explore the rich cultural scene. Many universities also provide support services to help international students adjust to life in the UK.</p>
    </section><br/>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to contact our admissions office. We are here to help you with the application process and provide information about studying in the UK.</p>
        <address>
            Email: <a href="mailto:info@pusphaconsultency.com">info@pusphaconsultency.com</a><br>
            Phone: +91 1234567890
        </address>
    </section>
    <footer>
        <div>
         <span><a href="Home.html"><img src="../static/Images/PC%20logo.png" alt="Stackfindover" style="height: 70px; width: 170px"></a></span>
     </div>
 
        <div class="row">
             <div class="col-3">                
                 <div class="link-cat" onclick="footerToggle(this)">
                     <span class="footer-toggle"></span>
                     <span class="footer-cat">Solution</span>
                 </div>
                 <ul class="footer-cat-links">
                     <li><p>We are dedicated to providing<br/>unparalleled consultancy<br/> services to empower businesses and individuals alike.</p></li>
                 </ul>
             </div>
             <div class="col-3">
                 <div class="link-cat" onclick="footerToggle(this)">
                     <span class="footer-toggle"></span>
                     <span class="footer-cat">Quick Links</span>
                     </div>
                     <ul class="footer-cat-links">
                         <li><a href=""><span>Home</span></a></li>
                         <li><a href="About%20US.htmlml"><span>About</span></a></li>
                         <li><a href=""><span>Contact Us</span></a></li>
                         <li><a href=""><span>Terms & Condition</span></a></li>
                     </ul>
             </div>
             <div class="col-3">
                 <div class="link-cat" onclick="footerToggle(this)">
                     <span class="footer-toggle"></span>
                     <span class="footer-cat">Country’s</span>
                 </div>
                 <ul class="footer-cat-links">
                     <li><a href=""><span>U.S.A</span></a></li>
                     <li><a href=""><span>United Kingdom</span></a></li>
                     <li><a href=""><span>Canada</span></a></li>
                     <li><a href=""><span>Australia</span></a></li>
                     <li><a href=""><span>Germany</span></a></li>
                     <li><a href=""><span>France</span></a></li>
                     <li><a href=""><span>UAE</span></a></li>
                 </ul>
             </div>
             <div class="col-3" id="newsletter">
                 <span>Stay Connected</span>
                 <form id="subscribe">
                     <input type="email" id="subscriber-email" placeholder="Enter Email Address"/>
                     <input type="submit" value="Subscribe" id="btn-scribe"/>
                 </form>
                 
                 <div class="social-links social-2">
                     <a href=""><i class="fab fa-facebook-f"></i></a>
                     <a href=""><i class="fab fa-twitter"></i></a>
                     <a href=""><i class="fab fa-linkedin-in"></i></a>
                     <a href=""><i class="fab fa-instagram"></i></a>
                     <a href=""><i class="fab fa-youtube"></i></a>
                 </div>
 
                 <div id="address">
                    <span>Office Location</span>
                           <i class="fas fa-gopuram"> &nbsp;Hyderabad</i> <br/>
                           <i class="fas fa-gopuram"> &nbsp;Delhi</i> <br/><br/><br/><br/><br/><br/>                     
                </div>
                 
             </div>
             <div class="social-links social-1 col-6">
                 <a href=""><i class="fab fa-facebook-f"></i></a>
                 <a href=""><i class="fab fa-twitter"></i></a>
                 <a href=""><i class="fab fa-linkedin-in"></i></a>
                 <a href=""><i class="fab fa-instagram"></i></a>
                 <a href=""><i class="fab fa-tumblr"></i></a>
                 <a href=""><i class="fab fa-reddit-alien"></i></a>
             </div>
        </div>
        <div id="copyright">
            &copy; All Rights Reserved 2023-2024
        </div>
        
     </footer>
 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="../JS.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

     
 </body>
 </html>